<!-- Basic Report - Created by Content Server WebReports  -->
<!-- [LL_REPTAG_USAGE /] -->


[// create the style for alternate row colors using the USERPREF subtag:
<style>
 .userRow1 { background-color: [LL_REPTAG_USERID USERPREF:COLORS:ROW1 /];  } 
 .userRow2 { background-color: [LL_REPTAG_USERID USERPREF:COLORS:ROW2 /];  } 
</style>


[// display the name of the WebReport as the HTML title.
<script>
document.title = "[LL_REPTAG_MYID NODEINFO:NAME /]";
</script>	

<script src = "[LL_REPTAG_LIBPATH /]page.js"></script>

<script>
var myCnt = [LL_WEBREPORT_SUBWEBREPORT NODEID:[LL_REPTAG_$GETCOUNT /] /];
var pageSize = [LL_REPTAG_$PAGESIZE /];
var p1 = [LL_REPTAG_&inputlabel1 /];
var p2 = [LL_REPTAG_&inputlabel2 /];
</script>



[// display the name of the webreport node
<B>[LL_REPTAG_MYID NODEINFO:NAME /]</B>

[// include the function menu for this WebReport (who's dataid is in MYID). 
[LL_REPTAG_MYID LLURL:FUNCTIONMENU /]&nbsp;

[// include the up-a-level icon.  
[LL_REPTAG_MYID LLURL:UPALEVEL /]<BR><BR>



<TABLE>

[/* The COLNAME tags below are used so that this reportview will work
    with any data source.  They will return the first 5 column names of the
    underlying data. */]
<TR>
	<TD>[LL_REPTAG_COLNAME1 /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
</TR>

[/* 
    ODDEVEN:Browserow1:Browserow2 ensures that the Content Server styles Browserow1 &
    Browserow2 are applied alternately to the table rows 
*/]

[LL_WEBREPORT_STARTROW /]<script>
	var wrurl = "[LL_REPTAG_MYID LLURL:REPORT /]";
</script>
<TR CLASS="[LL_REPTAG_ROWNUM ODDEVEN:userRow1:userRow2 /]" VALIGN="CENTER" NOWRAP ALIGN="LEFT">
	<TD>&nbsp;[LL_REPTAG_1 /]</TD>
	<TD>&nbsp;[LL_REPTAG_2 /]</TD>
	<TD>&nbsp;[LL_REPTAG_3 /]</TD>
	<TD>&nbsp;[LL_REPTAG_4 /]</TD>
	<TD>&nbsp;[LL_REPTAG_5 /]</TD>
	<TD>&nbsp;[LL_REPTAG_6 /]</TD>
</TR>[LL_WEBREPORT_ENDROW /]</TABLE>

<input type = "button" id = "first" value = "<<" onclick = "getPage(wrurl,'first',myCnt,pageSize,p1,p2)">

<input type = "button" id = "prev" value = "<" onclick = "getPage(wrurl,'prev',myCnt,pageSize,p1,p2)">

<input type = "button" id = "next" value = ">" onclick = "getPage(wrurl,'next',myCnt,pageSize,p1,p2)">

<input type = "button" id = "last" value = ">>" onclick = "getPage(wrurl,'last',myCnt,pageSize,p1,p2)">